$background-color: #f3eae7;
$primary-text-color: #070606;
$semitransparent-white: rgba(#ffffff, 0.4);
$white: #ffffff;
$base-font: "Roboto", system-ui, sans-serif;

$card-border-radius: 20px;
$button-border-radius: 10px;

$hover-shadow: 0 1em 0.8em -1em rgba(#000000, 0.4);
$hover-translateY: translateY(-0.1em);
$hover-transition-duration: 0.25s;

@mixin subheading-font() {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align: center;
}

// adds a pointer and transition, as well as a shadow a and slight translation to the top on hover
@mixin hover($backgroundColor: rgba($white, 0.6)) {
  cursor: pointer;
  transition: $hover-transition-duration;

  &:hover {
    background-color: $backgroundColor;
    box-shadow: $hover-shadow;
    transform: $hover-translateY;
  }
}

body {
  margin: 0;
}

:root {
  font-family: $base-font;
  font-weight: 400;

  background-color: $background-color;
  color: $primary-text-color;

  h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
  }

  h2, h3, h4, h5, h6 {
    @include subheading-font;
  }
}

// remove preset button styles to create custom buttons in Button.scss
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
