.idea/
occ_client/node_modules/
occ_server/node_modules/
/ottonova_coding_challenge_javascript_fullstack_2021-11.pdf
/cities.json
OttonovaCodingChallengeRamonaPlogmann.zip
OttonovaCodingChallengeRamonaPlogmannMail.zip
occ log.docx
ottonova_coding_challenge_javascript_fullstack_markiert.pdf
